* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Hack Nerd Font;
  font-size: 18px;
}

window#waybar {
  background-color: #161616;
  /* border-top: 2px solid rgba(100, 114, 125, 0.5); */
  color: #f2f4f8;
  transition-property: background-color;
  transition-duration: .5s;
}

.module {
  padding: 0 1em;
}
